@import "colores";
@import "mixin";

/*footer*/
.footer{
	background-color: map-get($paleta--colores,grisclaro);
  
}

/*footer google maps*/
.footer__mapa {
	@include sizes(300px,200px)
	padding: 30px 15px 30px 25px;
	padding-left: 50px;
	padding-right: 50px;
}

/*aplico flexbox en footer*/
.footer{
	@include flex-row-space-around;
}
div h2 {
	color: map-get($paleta--colores,negro);
	border-color: darkgray;
	font-family: 'Poiret One', cursive;
	font-size: 25px;
	text-align: center;
	line-height: 3;
}
div p {
	color: map-get($paleta--colores,negro);
	border-color: darkgray;
	font-family: 'Poiret One', cursive;
	font-size: 15px;
	text-align: center;
	line-height: 2;
}

/*vista mobile footer*/
@media only screen and (min-width: 0px) and (max-width: 768px){
	/*footer*/
.footer{
	background-color: map-get($paleta--colores,grisclaro);
}

/*footer google maps*/
  .footer__mapa {
  	@include sizes(600px,150px)
    padding: 30px 15px 30px 25px;
    padding-left: 200px; }

/*aplico flexbox en footer*/
.footer{
	@include flex-column-space-around;
}
div h2 {
	color: map-get($paleta--colores,negro);
	border-color: darkgray;
	font-family: 'Poiret One', cursive;
	font-size: 25px;
	text-align: center;
	line-height: 3;
}
div p {
	color: map-get($paleta--colores,negro);
	border-color: darkgray;
	font-family: 'Poiret One', cursive;
	font-size: 15px;
	text-align: center;
	line-height: 2;
}

}