@import "colores";
/* flex en nav */
.header {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: flex-end;
    font-family: 'Poiret One', cursive !important;
    background-color: map-get($paleta--colores,gris);
 
    }
    /* flex en logo */
.header__logo{
    display: flex;
    justify-content: flex-start;
    }
header div img{
	height: 80px;
	width: 95px;
}

ul li a{
	color: map-get($paleta--colores,blanco)!important;
}

@media only screen and (min-width: 1024px){
	.header {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: flex-end;
    font-family: 'Poiret One', cursive !important;
    background-color: map-get($paleta--colores,gris);
 
    }
    /* flex en logo */
.header__logo{
    display: flex;
    justify-content: flex-start;
    padding-right: 800px;
    }
header div img{
	height: 80px;
	width: 95px;
}

ul li a{
	color: map-get($paleta--colores,blanco)!important;
}
}

/* vista desktop */
@media only screen and (min-width: 769px) and (max-width: 1023px){
.navbar{
	padding-right: 30px;
}
.header {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: flex-end;
    font-family: 'Poiret One', cursive !important;
    }
    .header__logo{
      display: flex;
      justify-content: flex-start !important;
      padding-right: 700px;
    }

/*aplico flex en logo*/
.header{
	display: flex;
	margin-right: -15px;
	margin-left: -15px;
}	

ul li a{
	color: map-get($paleta--colores,blanco)!important;
}

header div img{
	height: 60px;
	width: 70px;
}
	
}


/*vista mobile head*/
@media only screen and (min-width: 0px) and (max-width: 768px){
.header {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: flex-end;
    font-family: 'Poiret One', cursive !important;
    padding-right: 40px;
    }
    .header__logo{
      display: flex !important;
      justify-content: flex-start !important;
      padding-right: 200px;
    }

/*aplico flex en logo*/
.header{
	display: flex;
	margin-right: -15px;
	margin-left: -15px;
}	

ul li a{
	color: map-get($paleta--colores,blanco)!important;
}

header div img{
	height: 40px;
	width: 45px;
}
	
}

