@import "colores";
/* flex en nav */
.header {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: flex-end;
    font-family: 'Poiret One', cursive !important;
    background-color: map-get($paleta--colores,gris);
 
    }

.header-mates {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: flex-end;
    font-family: 'Poiret One', cursive !important;
    background-color: map-get($paleta--colores,gris);
 
    }    

    /* flex en logo */
.header__logo{
    display: flex;
    justify-content: flex-start;
    }

.header__menu--blanco{
    color: whitesmoke;
    border-color: darkgray;
    list-style-type: none;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}    

/*barra nav con flexbox*/
.header__menu{
    display: flex;
    justify-content: flex-end;
    width: 1200px;
}

/* flex logo en page mates */  
.header-logo{
    display: flex;
    justify-content: flex-start !important;
} 

/*barra nav con flexbox page mates*/
.header-menu{
    display: flex;
    justify-content: flex-end;
    width: 1200px;
    padding-right: 50px;
}

header div img{
	height: 90px;
	width: 95px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

ul li a{
	color: map-get($paleta--colores,blanco)!important;
}

nav li{
    display: inline-block;  
    padding: 15px;
}   

@media only screen and (min-width: 1024px){
.header{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: flex-end;
    font-family: 'Poiret One', cursive !important;
    background-color: map-get($paleta--colores,gris);
 
    }
.header-mates{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: flex-end;
    font-family: 'Poiret One', cursive !important;
    background-color: map-get($paleta--colores,gris);
 
    }
    /* flex en logo */
.header__logo{
    display: flex;
    justify-content: flex-start;
    padding-right: 800px;
    }

    /* flex logo en page mates */  
.header-logo{
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
} 

/*barra nav con flexbox page mates*/
.header-menu{
    display: flex;
    justify-content: flex-end;
    width: 1200px;
    padding-right: 40px;
}

header div img{
	height: 90px;
	width: 95px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

ul li a{
	color: map-get($paleta--colores,blanco)!important;
}
}

/* vista desktop */
@media only screen and (min-width: 769px) and (max-width: 1023px){
.navbar{
	padding-right: 30px;
}
.header {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: flex-end;
    font-family: 'Poiret One', cursive !important;
    }
    .header__logo{
      display: flex;
      justify-content: flex-start !important;
      padding-right: 700px;
    }

/*aplico flex en logo*/
.header{
	display: flex;
	margin-right: -15px;
	margin-left: -15px;
}	

ul li a{
	color: map-get($paleta--colores,blanco)!important;
}

header div img{
	height: 70px;
	width: 65px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;

}
	
}


/*vista mobile head*/
@media only screen and (min-width: 0px) and (max-width: 768px){
.header {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: flex-end;
    font-family: 'Poiret One', cursive !important;
    padding-right: 40px;
    }
.header__logo{
    display: flex !important;
    justify-content: flex-start !important;
    padding-right: 200px;
    }

.header-mates{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: flex-end;
    font-family: 'Poiret One', cursive !important;
    }

 /* flex logo en page mates */  
.header-logo{
    display: flex;
    justify-content: flex-start;
    height: 95px;
} 

.header-menu{
    display: flex;
    justify-content: flex-end;
    width: 1200px;
    padding-right: 30px;
}

/*aplico flex en logo*/
.header{
	display: flex;
	margin-right: -15px;
	margin-left: -15px;
}	

ul li a{
	color: map-get($paleta--colores,blanco)!important;
}

header div img{
	height: 40px;
	width: 45px;
    margin-top: 5px;
    margin-left: 3px;
    margin-bottom: 5px;
}
.favicon{
    height: 40px !important;
    width: 45px !important;
    margin-top: 10px !important;
    margin-left: 10px !important;
}
	
}

