@mixin sizes($width, $height){
	height: $height;
	width: $width;
}
@mixin flex-row-center{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
@mixin flex-column-center{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
@mixin flex-row-space-around{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
@mixin flex-column-space-around{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
@mixin flex-row-space-evenly{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

}